/*-----------------
    1. HEADER
-----------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #615dfa;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.header .header-actions {
  display: flex;
  align-items: center;
}

.header .header-actions.search-bar {
  width: 30%;
}

.header .header-actions.search-bar .header-search-dropdown {
  width: 100%;
}

.header .header-actions .progress-stat {
  width: 6.875rem;
}

.header .header-actions .register-button {
  padding: 0 1.625rem;
  margin: 0 1.875rem;
}

.header .header-actions .login-form {
  margin: 0 0.875rem 0 0.75rem;
}

.header .header-actions .login-form .button {
  width: 3.25rem;
  height: 3.25rem;
  flex-shrink: 0;
}

.header .header-brand {
  display: flex;
  align-items: center;
}

.header .header-brand .logo {
  margin-left: 1.625rem;
}

.header .header-brand .header-brand-text {
  margin-left: 1.625rem;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
}

.header .sidemenu-trigger,
.header .mobilemenu-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.header .sidemenu-trigger.active .icon-grid, .header .sidemenu-trigger:hover .icon-grid {
  fill: #fff;
}

.header .sidemenu-trigger .icon-grid {
  pointer-events: none;
  transition: fill .3s ease-in-out;
}

.header .mobilemenu-trigger {
  display: none;
}

.header .input-search {
  width: 100%;
}

.header .action-list {
  height: 5rem;
}

.header .action-list::before, .header .action-list::after {
  top: 1.5rem;
}

.header .action-item {
  width: 5rem;
  height: 5rem;
}

@media (max-width: 48rem) {
  .header .mobilemenu-trigger {
    display: flex;
  }
}