@import url("components/header/header.css");
body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  body {
    margin-left: 5rem;
    padding-bottom: 0;
  }
}
