#chat-widget-messages .avatar-frame {
  position: relative;
  width: 3rem;
  height: 3rem;
}

#chat-widget-messages .avatar-frame.online::before,
#chat-widget-messages .avatar-frame.offline::before,
#chat-widget-messages .avatar-frame.away::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0.75rem;
  height: 0.75rem;
  border: 0.125rem solid #3d3d3d;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}

#chat-widget-messages .avatar-frame.online::before {
  background-color: #40d04f;
}

#chat-widget-messages .avatar-frame.offline::before {
  background-color: #f9515c;
}

#chat-widget-messages .avatar-frame.away::before {
  background-color: #adafca;
}

#chat-widget-messages .avatar-img,
#chat-widget-messages .avatar-frame-img {
  width: 100%;
  height: 100%;
  border: none;
}

#chat-widget-messages .avatar-frame-img {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#chat-widget-messages {
  --avatar-size: 3rem;
  --indicator-size: 0.5rem;
  --indicator-bar-width: 0.625rem;
}

#chat-widget-messages .chat-widget-message {
  position: relative;
  overflow: visible;
}

#chat-widget-messages .chat-widget-message::before {
  content: "";
  position: absolute;
  left: 0;
  /* Center relative to message height so it lines up with the avatar */
  top: 50%;
  width: var(--indicator-size);
  height: var(--indicator-size);
  background-color: var(--accent);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}

#chat-widget-messages .chat-widget-message.has-notification::before {
  opacity: 1;
}

#chat-widget-messages .chat-widget-message:hover::before,
#chat-widget-messages .chat-widget-message.active::before {
  height: calc(var(--avatar-size) - 0.5rem);
  width: var(--indicator-bar-width);
  border-radius: var(--indicator-bar-width);
  opacity: 1;
  transform: translate(-50%, -50%);
}
