#chat-widget-messages .avatar-frame {
  position: relative;
  width: 3rem;
  height: 3rem;
}

#chat-widget-messages .avatar-frame.online::before,
#chat-widget-messages .avatar-frame.offline::before,
#chat-widget-messages .avatar-frame.away::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#chat-widget-messages .avatar-frame.online::before {
  background-color: #40d04f;
}

#chat-widget-messages .avatar-frame.offline::before {
  background-color: #f9515c;
}

#chat-widget-messages .avatar-frame.away::before {
  background-color: #adafca;
}

#chat-widget-messages .avatar-img,
#chat-widget-messages .avatar-frame-img {
  width: 100%;
  height: 100%;
  border: none;
}

#chat-widget-messages .avatar-frame-img {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#chat-widget-messages .chat-widget-message {
  position: relative;
}

#chat-widget-messages .chat-widget-message::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  background-color: #4ff461;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}

#chat-widget-messages .chat-widget-message.has-notification::before {
  width: 0.5rem;
  height: 0.5rem;
}

#chat-widget-messages .chat-widget-message:hover::before,
#chat-widget-messages .chat-widget-message.active::before {
  top: 50%;
  left: 0;
  width: 0.25rem;
  height: calc(100% - 0.5rem);
  border-radius: 0.125rem;
  transform: translate(-50%, -50%);
}
