.profile {
  padding: 1rem;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-name {
  margin: 0;
}

.profile-messages {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
