/*------------------------------------------------------------------
[Table of contents]

1. .landing
2. .landing-info
3. .landing-form
-------------------------------------------------------------------*/
/*------------------
    1. LANDING
------------------*/
.landing {
  width: 100%;
  height: 100%;
  background: url("http://127.0.0.1:5173/img/landing/landing-background.jpg") no-repeat left center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.landing .landing-decoration {
  width: 64%;
  height: 140%;
  border-radius: 50%;
  background: url("http://127.0.0.1:5173/img/landing/dot-texture.png") repeat left top #161b28;
  position: absolute;
  top: -20%;
  right: -32%;
  pointer-events: none;
}

/*----------------------
    2. LANDING INFO
----------------------*/
.landing-info {
  width: 584px;
  position: absolute;
  top: 16%;
  left: 13%;
}

.landing-info .logo {
  display: flex;
  justify-content: center;
}

.landing-info .landing-info-pretitle,
.landing-info .landing-info-title,
.landing-info .landing-info-text {
  color: #fff;
  text-align: center;
}

.landing-info .landing-info-pretitle,
.landing-info .landing-info-title {
  text-transform: uppercase;
}

.landing-info .landing-info-pretitle {
  margin-top: 36px;
  font-size: 1.5rem;
  font-weight: 500;
}

.landing-info .landing-info-title {
  font-family: "Titillium Web", sans-serif;
  font-size: 6.5rem;
  font-weight: 900;
  position: relative;
  top: -10px;
}

.landing-info .landing-info-text {
  width: 384px;
  margin: 30px auto 0;
  font-size: 1.125rem;
  line-height: 1.3333333333em;
  font-weight: 500;
  font-weight: 500;
}

.landing-info .tab-switch {
  margin-top: 90px;
}

/*----------------------
    3. LANDING FORM
----------------------*/
.landing-form {
  width: 484px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 13%;
}

.landing-form .form-box {
  position: absolute;
  top: 50%;
  left: 0;
}

.landing-form .form-box:first-child {
  margin-top: -313px;
}

.landing-form .form-box:last-child {
  margin-top: -370px;
}

/*--------------------
    MEDIA QUERIES 
--------------------*/
@media screen and (min-width: 2560px) {
  .landing-info {
    top: 25%;
  }
  .landing-form {
    right: 20%;
  }
}

@media screen and (min-width: 3840px) {
  .landing-info {
    top: 35%;
    left: 18%;
  }
  .landing-form {
    right: 25%;
  }
}

@media screen and (max-width: 1500px) {
  .landing .landing-decoration {
    display: none;
  }
  .landing-info {
    left: 6%;
  }
  .landing-info .landing-info-text {
    margin-top: 10px;
  }
  .landing-info .tab-switch {
    margin-top: 40px;
  }
  .landing-form {
    right: 80px;
  }
}

@media screen and (max-width: 1365px) {
  .landing {
    padding: 80px 0 100px;
    position: static;
  }
  .landing-info {
    width: 100%;
    position: static;
  }
  .landing-info .landing-info-text {
    display: none;
  }
  .landing-form {
    width: 100%;
    margin-top: 80px;
    position: static;
  }
  .landing-form .form-box {
    margin: 0 auto;
    position: static;
  }
  .landing-form .form-box .form-box-decoration {
    display: none;
  }
  .landing-form .form-box:first-child, .landing-form .form-box:last-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .landing-form .form-box {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .landing-info .landing-info-title {
    font-size: 3.75rem;
  }
  .landing-info .tab-switch {
    width: 90%;
    margin: 20px auto 0;
  }
  .landing-info .tab-switch .tab-switch-button {
    width: 50%;
  }
  .landing-form {
    margin-top: 60px;
  }
}
